
$메인색상 : #090909;

.red {
    color: $메인색상;
}

//scss 함수 만들기
@mixin 함수() {
    background: #eeeeee;
    padding: 15px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

//scss 함수 include로 불러오기
.my-alert {
    @include 함수()
}


//scss 불러온 함수 색만 바꿔주기
.my-alert-red {
    @extend .my-alert;
    background: red;
}



.my-alert p {
    margin-bottom: 0;
}


// div.container h4 {
//     color : blue;
// }
// div.container h4 {
//     color : green;
// }


// div.container {
//     h4{
//         color : blue;
//     }
// }